CompileFlags:
  Add:
    - "-std=c++20"
    - "-I/opt/homebrew/include"
    - "-I/opt/homebrew/Cellar/llvm/21.1.8/include"
  CompilationDatabase: build/

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
